<header class="demo-nav" role="navigation">

  <div class="demo-nav__header">
    <h1>
      {{#link-to "index" class="demo-nav__brand"}}
          Topcoat Components
          <small>for Ember.js</small>
      {{/link-to}}
    </h1>
  </div>

</header>

<div class="container">
  <div class="row">
    <div class="component-list">
      <div class="center">
        <label for="topcoat-theme-selector" class="sr-only">
          Select a theme:
        </label>
        <br>
        {{view Ember.Select
          id="topcoat-theme-selector"
          className="topcoat-theme-selector"
          content=stylesheets
          value=stylesheets.selected
          optionLabelPath="content.title"
          optionValuePath="content.name"
        }}
      </div>
      <br>

      <ul class="component-list__container" role="navigation">
      {{#each App.topcoatComponentList}}
        <li class="component-list__item">
          {{link-to title name class="component-list__link"}}
        </li>
      {{/each}}
      </ul>
    </div>
    <div class="component-demo">
      <header id="component-header">
        {{scroll-title title=component.title class="component-title" tagName="h2"}}
      </header>
      <section {{bind-attr id=component.name}} class="component">
        {{outlet view="componentContainer"}}
      </section>
    </div>
  </div>
</div>

<footer class="demo-footer">
  <small>
    Copyright 2014 Nick Frasser <div class="demo-footer__separator"> · </div>
    <a href="https://github.com/nfrasser/ember-topcoat-components/blob/master/LICENSE">License</a> ·
    <a href="https://github.com/nfrasser/ember-topcoat-components">Project Home</a>
  </small>
</footer>

