<div class="well">
	Welcome to Yeoman and Ember.js!

	<br>

	{{topcoat-range}}

	{{topcoat-text-input placeholder="hello world"}}
	{{topcoat-text-input large=true}}

	{{topcoat-search-input}}
	{{topcoat-search-input large=true}}

</div>
