<div class="well">
	Welcome to Yeoman and Ember.js!

	<br>

{{#prettify lang="css" linenums=1}}
body #head .some-class,
.topcoat-button--large {
  width: 100%;
  color: #f0f0f0;
}
{{/prettify}}

	{{topcoat-range value=10}}

	{{topcoat-text-input placeholder="hello world"}}
	{{topcoat-text-input large=true}}

	{{topcoat-search-input}}
	{{topcoat-search-input large=true}}

	{{topcoat-switch}}
	{{topcoat-textarea}}

</div>
